 *{
    margin: 0;
    padding: 0;
}

body {
    background-color: #808080;
}

.wrapper {
    width: 1300px;
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px ;
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas: 
    "tools c c switch" 
    "colors c c e"
    ;
    justify-content: center;
    align-items: center;
}

.tools {
    grid-area: tools;
    margin: 30px;
    width: 180px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tools-item {
    width: 100%;
    border: 1px solid #808080;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.tools-item:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

.colors {
    grid-area: colors;
    margin: 30px;
    width: 180px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colors-item {
    width: 100%;
    border: 1px solid #808080;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.colors-item-circle {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.colors-item:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

#canvas {
    grid-area: c;
}

.switch {
    grid-area: switch;
    margin: 30px;
    width: 180px;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
}

.switch-item {
    width: 100%;
    border: 1px solid #808080;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.switch-item:hover {
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

@media ( max-width: 1300px){
    .wrapper {
        width: 100%;
    }
}

@media ( max-width: 990px){
    .wrapper {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas: 
        "tools c c" 
        "colors c c"
        "switch c c"
    ;
    }
}

@media ( max-width: 800px){
    .wrapper {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas: 
        "tools colors switch" 
        "c c c"
        "c c c"
        ;
    }

    #canvas {
        margin: 0 auto;
    }

    .tools {
        margin: 0;
    }

    .colors {
        margin: 0;
    }

    .switch {
        margin: 0;
    }
}